@import '@/styles/variables';

$min-height: 1.5rem;
$remove-size: 1rem;
$option-color: #ddd;

.tselect {
  border-radius: $border-radius !important;

  &.disabled * {
    cursor: not-allowed;
  }

  &.focused {
    border-color: $gray-600;
    box-shadow: 0 0 2px #6c757d;

    &.single {
      .tselect__selected-option {
        display: none;
      }
    }
  }

  &:not(.focused) {
    .tselect__input {
      color: $gray;
    }
  }

  &.focused:not(.tselect--ontop) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  &.focused.tselect--ontop {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  &__container {
    display: flex;
    row-gap: $spacer * 0.5;
    margin: 0;
    cursor: text;
    padding: $spacer * 0.5;
    height: 100%;
    min-height: $min-height;
    list-style: none;
  }

  &__selected-option {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__selected-option-remove {
    display: flex;
    margin-left: $spacer * 0.5;
    cursor: pointer;
    width: $remove-size;
    height: $remove-size;
    font-size: 0.8rem;
  }

  &.multiple {
    .tselect__input {
      min-width: 3rem;
      max-width: 10rem;
    }
  }

  &__input {
    appearance: none;
    flex-grow: 1;
    outline: none;
    border: 0;
    background-color: transparent;
    width: 5%;
    height: 2rem;
  }

  &__display-options {
    z-index: 99999;
    margin: 0;
    border: 1px solid $gray-600;
    border-radius: $border-radius;
    box-shadow: 0 0 2px #6c757d;
    background-color: #fff;
    padding: 0;
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.4;

    &:not(.tselect--ontop) {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &.tselect--ontop {
      border-bottom: 0;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  &__display-option {
    cursor: pointer;
    max-width: 100%;

    &.hover {
      background-color: $green;
      color: $light;
    }

    &[aria-selected='true'] {
      font-weight: bold;
    }

    &[aria-disabled='true'] {
      opacity: 0.5;
      cursor: not-allowed;
    }

    :deep(> *) {
      display: block;
      max-width: 100%;
    }
  }

  &.form-control {
    padding: 0;

    input {
      &::placeholder {
        color: $gray-500;
      }
    }
  }

  &.form-control-multiline {
    .tselect__container {
      flex-wrap: wrap;
      column-gap: $spacer * 0.5;
    }

    .tselect__selected-option {
      padding: 0 0.75rem;
    }
  }
}